body {
  background: #333333;
  font-family: Helvetica;
  color: white;
}

#app {
  display: flex;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.container {
  text-align: center;
  margin: 0 auto;
  width: 60%;
}

.client-pannel {
  margin: 8px 0 8px 8px;
  min-width: 200px;
  order: -1;
}

.form {
  display: flex;
  justify-content: space-between;
}

.form input {
  flex: 1;
  margin-right: 0.5rem;
  caret-color: #4caf50;
  box-shadow: 0 0 5px #181818;
  background: transparent;
  outline: 0;
  border: 0;
  color: white;
  border-radius: 12px;
}

.input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

.chat-messages {
  list-style-type: none;
  height: 70vh;
  overflow-y: auto;
  box-shadow: 0 0 5px #181818;
  padding: 20px;
  border-radius: 12px;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.message-right {
  justify-content: flex-end;
}

.message-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
  background-color: #454545;
  color: white;
  border: 2px solid white;
  font-weight: bold;
}

.server-avatar {
  background-color: #0096ff !important;
  color: white;
}

.message-content {
  margin: 0 10px;
  padding: 8px;
  background-color: #454545;
  border-radius: 10px;
  box-shadow: 0 0 2px white;
  word-break: break-word;
}

.message-nickname {
  margin: 0;
  margin-bottom: 4px;
  font-weight: bold;
  text-align: left;
  color: #4caf50;
}

.message-text {
  margin: 8px 0;
  text-align: left;
}

.message-timestamp {
  font-size: 12px;
  color: #989898;
  float: right;
  margin: 0;
}

.disconnect-link {
  color: red;
}

.gorph {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 3px white;
  margin-right: 10px;
}
